body {
  font-family: Google Sans, Roboto, arial, sans-serif;
}

.Weather {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgb(140, 207, 149);
}

.Weather h1 {
  margin: 20px 0 0 0;
  color: #70757a;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #70757a;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: 400px;
  color: black;
  font-size: 64px;
  line-height: 64px;
}
